.wrapper {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--bg-blue);
}

#container {
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 1rem;
    padding: 3vw;
    width: 50vw;
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    gap: 1vw;
}

label {
    font: 1.75rem/1.25 Bungee, sans-serif;
}

.uploader {
    border: 2px solid var(--dark-blue);
    border-radius: 0.3rem;
    margin: 0.5rem 0 1rem 0;
    overflow: hidden;
}
input[type=file]::file-selector-button {
    border: none;
    border-right: 2px solid var(--dark-blue);
    background-color: var(--dark-blue);
    color: white;
    cursor: pointer;
    padding: 0.5rem 1rem;
    margin-right: 1rem;
    transition: background-color 0.25s ease-in-out;
} 
input[type=file]::file-selector-button:hover {
    background-color: var(--main-blue);
    color: var(--dark-blue);
}

form button {
    background: var(--main-blue);
    border-radius: 5rem;
    padding: 0.35rem 1rem;
    transition: background 0.25s ease-in-out;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}
form button img {
    width: 1.25rem;
    height: 1.25rem;
}