.container--multiple {
    padding: 3vw;
    width: 65vw;
    height: max-content;
    gap: 1vw;
}

label {
    font: 2.5rem/1 Bungee, sans-serif;
}

.uploader {
    border: 2px solid var(--dark-blue);
    border-radius: 0.3rem;
    margin: 1.5rem 0;
    overflow: hidden;
}
#id_csv {
    font: 0.95rem/1.25 Inter, sans-serif;
    cursor: pointer;
}
#id_csv::file-selector-button {
    font: 1rem/1.25 Inter, sans-serif;
    color: white;
    background-color: var(--dark-blue);
    border: none;
    border-right: 2px solid var(--dark-blue);
    padding: 0.5rem 1rem;
    margin-right: 1rem;
    cursor: pointer;
    transition: background-color 0.25s ease-in-out;
} 
#id_csv::file-selector-button:hover {
    background-color: var(--main-blue);
    color: var(--dark-blue);
}

.result__container {
    height: 65vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 2vh;
}
.table__wrapper {
    flex: 1;
    border: 8px solid var(--bg-blue);
    border-radius: 1rem;
    overflow: hidden auto;
}

.result__table {
    font: 1rem/1.25 Inter, sans-serif;
    width: 100%;
    border-collapse: collapse;
}
.result__table th {
    position: sticky;
    top: 0;
    padding: 0.5rem 0.75rem;
    text-align: left;
    background-color: var(--main-blue);
}
.result__table td {
    padding: 0.25rem 0.75rem;
    border-bottom: 1px solid var(--dark-blue);
}
.result__table td:first-child {
    max-width: 45vw;
    overflow: hidden;
    border-right: 1px solid var(--dark-blue);
}

.form__button {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    border-radius: 5rem;
    padding: 0.8rem 1.75rem;
    margin: 0 auto;
    background: var(--main-blue);
    font: 1rem/1.25 Inter, sans-serif;
    transition: all 0.25s ease-in-out;
}
.form__button:hover {
    background: var(--dark-blue);
    color: white;
}
.form__button img {
    width: 1.25rem;
    height: 1.25rem;
    opacity: 1;
    transition: all 0.5s;
}
.form__button:hover img {
    width: 0;
    height: 0;
    opacity: 0;
}

.uploader__button {
    width: 9rem;
}
.uploader__button:hover {
    width: 12rem;
}
.result__button {
    width: 13rem;
}
.result__button:hover {
    width: 16rem;
}

.ani--reveal {
    animation: reveal 0.25s forwards ease-in-out;
}
@keyframes reveal {
    0% {
        opacity: 0;
        transform: translateY(30%);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}