.container--single {
    padding: 3.5vw 5vw;
    width: 70vw;
    min-height: 80vh;
    gap: 1.5vw;
}

.heading {
    display: flex;
    align-items: center;
    gap: 5vw;
}
.heading__content {
    flex: 1;
    text-align: center;
    width: 100%;
}

.result__icon {
    width: auto;
    height: 16vh;
    border-radius: 50%;
}
.result__title {
    font: 2.75rem/1.25 Bungee, sans-serif;
}

.result__model {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}
.result__model .bar {
    flex: 1;
    padding: 0.25rem;
    border-radius: 1rem;
    font: 0.9rem/1.25 Inter, sans-serif;
    color: white;
}

.rating__icon {
    border-radius: 50%;
    padding: 0.5rem;
    width: 2rem;
    height: 2rem;
}
.rating__icon:first-child {
    background-color: var(--dark-pos);
}
.rating__icon:last-child {
    background-color: var(--dark-neg);
}

.content {
    position: relative;
    display: flex;
    flex: 1;
    flex-direction: column;
    height: 100%;
}
.textarea__container {
    position: absolute;
    padding: 1.25rem 1.25rem 3.25rem 1.25rem;
    height: 100%;
    width: 100%;
    border-radius: 1rem;
    background: white;
    cursor: typing;
}
.textarea__container .textarea-input {
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    font: 1rem/1.25 Inter, sans-serif;
    flex: 1;
    padding: 0;
}
.toggle-emoji {
    position: absolute;
    bottom: 5px;
    left: 10px;
    z-index: 200;
    padding: 0.1rem;
    background-color: transparent;
    font-size: 2rem;
    color: var(--main-blue);
}
.content .submit-button {
    position: absolute;
    bottom: 10px;
    right: 10px;
    z-index: 100;
    width: 2.5rem;
    height: 2.5rem;
    background-color: var(--main-blue);
    border-radius: 50%;
    padding: 0.5rem;
    transition: all 0.25s ease-in-out;
}
.content .submit-button:hover {
    background-color: var(--dark-blue);
}


/* Styling for CTA buttons */

.form__button {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0;
    border-radius: 5rem;
    padding: 0.5rem 1.75rem;
    margin: 0 auto;
    background: var(--main-blue);
    font: 1rem/1.25 Inter, sans-serif;
    transition: all 0.25s ease-in-out;
}
.form__button:hover {
    background: var(--dark-blue);
    color: white;
    gap: 0.5rem;
}
.form__button .button__icon {
    font-size: 0;
    color: white;
    transition: all 0.25s;
}
.form__button:hover .button__icon {
    font-size: 1.25rem;
}
.form__divider {
    font: 0.85rem/1.25 Inter, sans-serif;
    display: flex;
    align-items: center;
}
.form__divider div {
    height: 3px;
    border-radius: 99.99px;
    background: rgba(118, 123, 141, 0.1);
    margin: 0 6px;
    flex: 1;
}


/* For Dynamic Styling */

.text-default {
    color: var(--dark-blue);
}
.text-pos {
    color: var(--dark-pos);
}
.text-neg {
    color: var(--dark-neg);
}

.border-default {
    border: 8px solid var(--bg-blue);
}
.border-pos {
    border: 8px solid var(--bg-pos);
}
.border-neg {
    border: 8px solid var(--bg-neg);
}

.bar-default {
    background: var(--dark-blue);
}
.bar-pos {
    background: var(--dark-pos);
}
.bar-neg {
    background: var(--dark-neg);
}

.ani-default {
    animation: toDefault 0.35s forwards ease-in-out;
}
.ani-pos {
    animation: toPos 0.35s forwards ease-in-out;
}
.ani-neg {
    animation: toNeg 0.35s forwards ease-in-out;
}
@keyframes toDefault {
    50% { background-color: rgba(255, 255, 255, 0.5); }
    100% { background-color: var(--bg-blue); }
}
@keyframes toPos {
    50% { background-color: var(--bg-blue); }
    100% { background-color: var(--bg-pos); }
}
@keyframes toNeg {
    50% { background-color: var(--bg-blue); }
    100% { background-color: var(--bg-neg); }
}


/* Styles for Smaller Screens */

@media (max-width: 768px) {
    .container--single {
        width: 100%;
        padding: 5vw;
        gap: 0.5rem;
    }
    .heading {
        flex-direction: column;
        gap: 0.5rem;
    }
    .result__title {
        font-size: 1.75rem;
    }
    .result__icon {
        height: 15vh;
    }
    .result__model {
        gap: 0.25rem;
    }
    .result__model .bar {
        font: 0.75rem/1.25 Inter, sans-serif;
    }
    .rating__icon {
        padding: 0.45rem;
        width: 1.85rem;
        height: 1.85rem;
    }    
    .toggle-emoji {
        display: none;
    }
    .textarea-container {
        padding: 1.25rem 3.25rem 1.25rem 1.25rem;
    }
    .content .textarea-input {
        font: 0.9rem/1.25 Inter, sans-serif;
    }
    .form__button {
        padding: 0.5rem 1.75rem;
        font: 0.9rem/1.25 Inter, sans-serif;
    }
}