{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bungee&family=Inter:wght@300;400;600;700&display=swap" rel="stylesheet">
    <!-- Emoji Picker -->
    <link rel="stylesheet" href="{% static "thesis_app/css/emoji.css" %}" />
    <!-- Base Stylesheet -->
    <link rel="stylesheet" href="{% static 'thesis_app/css/base.css' %}" />
    {% block stylesheet %}{% endblock stylesheet %}
    <title>{% block subtitle %}Home{% endblock subtitle %} - Game Reviews Analyzer</title>
</head>

<body>
    {% url 'home' as init_page %}
    {% url 'single_without' as without_page %}
    {% url 'single_with' as with_page %}
    
    <nav id="sidebar">
        <ul>
            <li>
                <a href="{{ without_page }}" {% if 'without-emoji-and-emoticon' in request.path or request.path == init_page %}class="active"{% endif %}>
                    <img class="menu-icon" src="{% static 'thesis_app/images/menu_text.png' %}" />
                    <div class="icon-text">Analyze Game Review<br />Without Emoji and Emoticon</div>
                </a>
            </li>

            <li>
                <a href="{{ with_page }}" {% if 'with-emoji-and-emoticon' in request.path %}class="active"{% endif %}>
                    <img class="menu-icon" src="{% static 'thesis_app/images/menu_emoji.png' %}" />
                    <div class="icon-text">Analyze Game Review<br />With Emoji and Emoticon</div>
                </a>
            </li>
        </ul>
    </nav> 
    
    <nav id="topbar">
        <ul>
            <li>
                <a href="{{ without_page }}" {% if 'without-emoji-and-emoticon' in request.path or request.path == init_page %}class="active"{% endif %}>
                    <img class="menu-icon" src="{% static 'thesis_app/images/menu_text.png' %}" />
                    <div class="icon-text">Without Emoji and Emoticon</div>
                </a>
            </li>

            <li>
                <a href="{{ with_page }}" {% if 'with-emoji-and-emoticon' in request.path %}class="active"{% endif %}>
                    <img class="menu-icon" src="{% static 'thesis_app/images/menu_emoji.png' %}" />
                    <div class="icon-text">With Emoji and Emoticon</div>
                </a>
            </li>
        </ul>
    </nav> 
    {% block content %}{% endblock content %}

    <!-- Emoji Picker -->
    <script src="{% static "thesis_app/js/emoji-popover.iife.js" %}"></script>
    <script src="{% static "thesis_app/js/emoji.js" %}"></script>
    <!-- Icons -->
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons/dist/ionicons.js"></script>
</body>
</html>