{% extends "thesis_app/base.html" %}
{% load static %}

{% block stylesheet %}
<link rel="stylesheet" href="{% static 'thesis_app/css/single.css' %}" />
{% endblock stylesheet %}
{% block subtitle %}Single Sentiment{% endblock subtitle %}

{% block content %}
<div class="wrapper {% if result > 0 %}ani-pos{% elif result < 0 %}ani-neg{% else %}ani-default{% endif %}">
    <div id="container">
        <div class="title">
            <!-- image -->
            {% if result > 0 %}
                <img id="result__icon" class="border-pos" src="{% static 'thesis_app/images/happy.png' %}" />
            {% elif result < 0 %}
                <img id="result__icon" class="border-neg" src="{% static 'thesis_app/images/angry.png' %}" />   
            {% else %}
                <img id="result__icon" class="border-default" src="{% static 'thesis_app/images/neutral.png' %}" />
            {% endif %}            
            <!-- end of image -->
            <div class="title__content">
                <div id="result__title" class="{% if result > 0 %}text-pos{% elif result < 0 %}text-neg{% else %}text-default{% endif %}">
                    {% if result > 0 %}Positive{% elif result < 0 %}Negative{% else %}Game{% endif %} Review
                </div>
                <div class="result__rating">
                    <img class="rating__icon" src="{% static 'thesis_app/images/like.png' %}" />
                    <div class="bar {% if result > 0 %}bar-pos{% elif result < 0 %}bar-neg{% else %}bar-default{% endif %}"></div>
                    <img class="rating__icon" src="{% static 'thesis_app/images/dislike.png' %}" />
                </div>
            </div>
        </div>
        <div class="content">
            <form method="POST" action="{% url 'single' %}">
                {% csrf_token %}
                <textarea name="textarea_input" placeholder="Enter your review here...">{{ user_input }}</textarea>
                <button type="submit"><img src="{% static 'thesis_app/images/submit.png' %}" /></button>
            </form>
        </div>
    </div>
</div>
{% endblock content %}