{% extends "thesis_app/base.html" %}
{% load static %}

{% block stylesheet %}
<link rel="stylesheet" href="{% static 'thesis_app/css/single.css' %}" />
<link rel="prefetch" href="{% static 'thesis_app/js/emoji-list.json' %}">
{% endblock stylesheet %}
{% block subtitle %}Single with Emoji and Emoticon{% endblock subtitle %}

{% block content %}
<div class="wrapper {% if result == 1 %}ani-pos{% elif result == 0 %}ani-neg{% else %}ani-default{% endif %}">
    <div class="wrapper__bg"></div>
    <div class="container container--single">
        <div class="heading">
            <!-- image -->
            {% if result == 1 %}
                <img class="result__icon border-pos" src="{% static 'thesis_app/images/happy.png' %}" />
            {% elif result == 0 %}
                <img class="result__icon border-neg" src="{% static 'thesis_app/images/angry.png' %}" />   
            {% else %}
                <img class="result__icon border-default" src="{% static 'thesis_app/images/neutral.png' %}" />
            {% endif %}            
            <!-- end of image -->
            <div class="heading__content">
                <div class="result__title {% if result == 1 %}text-pos{% elif result == 0 %}text-neg{% else %}text-default{% endif %}">
                    {% if result == 1 %}Positive{% elif result == 0 %}Negative{% else %}Game{% endif %} Review
                </div>
                <div class="result__model">
                    <img class="rating__icon" src="{% static 'thesis_app/images/like.png' %}" />
                    <div class="bar {% if result == 1 %}bar-pos{% elif result == 0 %}bar-neg{% else %}bar-default{% endif %}">
                        Model: With Emoji and Emoticon
                    </div>
                    <img class="rating__icon" src="{% static 'thesis_app/images/dislike.png' %}" />
                </div>
            </div>
        </div>
        <!-- Single Game Review -->
        <div class="content">
            <form method="POST" action="{% url 'single_with' %}">
                {% csrf_token %}
                <div class="textarea__container">
                    <textarea class="textarea-input" id="text_input" name="textarea_input" placeholder="Enter your review WITH EMOJIS and EMOTICONS here...">{{ user_input }}</textarea>
                </div>
                <button class="submit-button" type="submit"><img src="{% static 'thesis_app/images/submit.png' %}" /></button>
            </form>
            <!-- Emoji Picker -->
            <button class="toggle-emoji"><ion-icon name="happy-outline"></ion-icon></button>
        </div>
        <!-- Multiple Game Reviews -->
        <div class="form__divider"><div></div>or<div></div></div>
        <a class="form__button" href="{% url 'multiple' option='with-emoji-and-emoticon' %}"> Upload a CSV File <ion-icon class="button__icon" name="arrow-forward-circle"></ion-icon></a>
    </div>
</div>
{% endblock content %}